<a href="https://colab.research.google.com/github/1st9aram/1st9aram/blob/main/rf_gb_ensemble.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import os
import pandas as pd
import numpy as np

In [ ]:
os.chdir("/content/drive/MyDrive/Colab Notebooks/dacon/house_prices_regression/")
print(os.getcwd())

/content/drive/MyDrive/Colab Notebooks/dacon/house_prices_regression

In [ ]:
train = pd.read_csv('./housing/train.csv')
test = pd.read_csv('./housing/test.csv')
submission = pd.read_csv('./housing/sample_submission.csv')

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1350 entries, 0 to 1349
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1350 non-null   int64
 1   Overall Qual    1350 non-null   int64
 2   Gr Liv Area     1350 non-null   int64
 3   Exter Qual      1350 non-null   object
 4   Garage Cars     1350 non-null   int64
 5   Garage Area     1350 non-null   int64
 6   Kitchen Qual    1350 non-null   object
 7   Total Bsmt SF   1350 non-null   int64
 8   1st Flr SF      1350 non-null   int64
 9   Bsmt Qual       1350 non-null   object
 10  Full Bath       1350 non-null   int64
 11  Year Built      1350 non-null   int64
 12  Year Remod/Add  1350 non-null   int64
 13  Garage Yr Blt   1350 non-null   int64
 14  target          1350 non-null   int64
dtypes: int64(12), object(3)
memory usage: 158.3+ KB

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1350 entries, 0 to 1349
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1350 non-null   int64
 1   Overall Qual    1350 non-null   int64
 2   Gr Liv Area     1350 non-null   int64
 3   Exter Qual      1350 non-null   object
 4   Garage Cars     1350 non-null   int64
 5   Garage Area     1350 non-null   int64
 6   Kitchen Qual    1350 non-null   object
 7   Total Bsmt SF   1350 non-null   int64
 8   1st Flr SF      1350 non-null   int64
 9   Bsmt Qual       1350 non-null   object
 10  Full Bath       1350 non-null   int64
 11  Year Built      1350 non-null   int64
 12  Year Remod/Add  1350 non-null   int64
 13  Garage Yr Blt   1350 non-null   int64
dtypes: int64(11), object(3)
memory usage: 147.8+ KB

In [ ]:
train = train.iloc[:, 1:]
test = test.iloc[:, 1:]

In [ ]:
train.describe()

       Overall Qual  Gr Liv Area  ...  Garage Yr Blt         target
count   1350.000000  1350.000000  ...    1350.000000    1350.000000
mean       6.208889  1513.542222  ...    1978.471852  186406.312593
std        1.338015   487.523239  ...      25.377278   78435.424758
min        2.000000   480.000000  ...    1900.000000   12789.000000
25%        5.000000  1144.000000  ...    1961.000000  135000.000000
50%        6.000000  1445.500000  ...    1978.500000  165375.000000
75%        7.000000  1774.500000  ...    2002.000000  217875.000000
max       10.000000  4476.000000  ...    2207.000000  745000.000000

[8 rows x 11 columns]

In [ ]:
test.describe()

       Overall Qual  Gr Liv Area  ...  Year Remod/Add  Garage Yr Blt
count   1350.000000  1350.000000  ...     1350.000000    1350.000000
mean       6.237037  1524.071111  ...     1985.258519    1978.457037
std        1.370057   514.410852  ...       20.818442      25.771750
min        2.000000   407.000000  ...     1950.000000    1895.000000
25%        5.000000  1169.750000  ...     1966.000000    1961.000000
50%        6.000000  1472.500000  ...     1995.000000    1982.000000
75%        7.000000  1742.250000  ...     2004.000000    2002.000000
max       10.000000  5642.000000  ...     2010.000000    2010.000000

[8 rows x 10 columns]

In [ ]:
train[train['Garage Yr Blt'] > 2050]

     Overall Qual  Gr Liv Area  ... Garage Yr Blt  target
254             8         1564  ...          2207  267300

[1 rows x 14 columns]

In [ ]:
train.loc[254, 'Garage Yr Blt'] = 2007

In [ ]:
qual_cols = train.dtypes[train.dtypes == np.object].index

def label_encoder(df_, qual_cols):
    df = df_.copy()
    mapping = {'Ex':5, 'Gd':4, 'TA':3, 'Fa':2, 'Po':1}

    for col in qual_cols:
        df[col] = df[col].map(mapping)
    return df

In [ ]:
train = label_encoder(train, qual_cols)
test = label_encoder(test, qual_cols)

In [ ]:
train

      Overall Qual  Gr Liv Area  ...  Garage Yr Blt  target
0               10         2392  ...           2003  386250
1                7         1352  ...           2006  194000
2                5          900  ...           1967  123000
3                5         1174  ...           2000  135000
4                7         1958  ...           2005  250000
...            ...          ...  ...            ...     ...
1345             6         1756  ...           1996  204000
1346             9         2748  ...           2006  390000
1347             5         1214  ...           1967  143000
1348             5          894  ...           1974  131000
1349             5          907  ...           1978  140000

[1350 rows x 14 columns]

In [ ]:
train_x = train.drop(['target'], axis = 1)
train_y = np.log1p(train.target)

target = test[train_x.columns]

In [ ]:
target.fillna(target.mean(), inplace = True)

In [ ]:
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import make_scorer
from sklearn.model_selection import KFold

In [ ]:
def NMAE(true, pred):
    mae = np.mean(np.abs(true-pred))
    score = mae / np.mean(np.abs(true))
    return score

In [ ]:
nmae_score = make_scorer(NMAE, greater_is_better = False)
kf = KFold(n_splits = 10, random_state = 44, shuffle = True)

In [ ]:
rf_pred = np.zeros(target.shape[0])
rf_val = []

for n, (train_idx, val_idx) in enumerate(kf.split(train_x, train_y)) :
    print(f'{n + 1} FOLD Training.....')
    tr_x, tr_y = train_x.iloc[train_idx], train_y.iloc[train_idx]
    val_x, val_y = train_x.iloc[val_idx], np.expm1(train_y.iloc[val_idx])
    
    rf = RandomForestRegressor(random_state = 44, criterion = 'mae')
    rf.fit(tr_x, tr_y)
    
    val_pred = np.expm1(rf.predict(val_x))
    val_nmae = NMAE(val_y, val_pred)
    rf_val.append(val_nmae)

    print(f'{n + 1} FOLD NMAE = {val_nmae}\n')
    
    fold_pred = rf.predict(target) / 10
    rf_pred += fold_pred

print(f'10FOLD Mean of NMAE = {np.mean(rf_val)} & std = {np.std(rf_val)}')

1 FOLD Training.....

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_forest.py:407: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

1 FOLD NMAE = 0.08734158240358587

2 FOLD Training.....

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_forest.py:407: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

2 FOLD NMAE = 0.09064716310292091

3 FOLD Training.....

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_forest.py:407: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

3 FOLD NMAE = 0.1143903193646379

4 FOLD Training.....

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_forest.py:407: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

4 FOLD NMAE = 0.10144759677100305

5 FOLD Training.....

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_forest.py:407: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

5 FOLD NMAE = 0.08941588401425085

6 FOLD Training.....

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_forest.py:407: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

6 FOLD NMAE = 0.11043400972902025

7 FOLD Training.....

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_forest.py:407: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

7 FOLD NMAE = 0.10494830433224543

8 FOLD Training.....

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_forest.py:407: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

8 FOLD NMAE = 0.09982868147391834

9 FOLD Training.....

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_forest.py:407: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

9 FOLD NMAE = 0.08970800408680307

10 FOLD Training.....

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_forest.py:407: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

10 FOLD NMAE = 0.1029577880026904

10FOLD Mean of NMAE = 0.09911193332810761 & std = 0.008994899240859234

In [ ]:
gbr_pred = np.zeros(target.shape[0])
gbr_val = []

for n, (train_idx, val_idx) in enumerate(kf.split(train_x, train_y)) :
    print(f'{n + 1} FOLD Training.....')
    tr_x, tr_y = train_x.iloc[train_idx], train_y.iloc[train_idx]
    val_x, val_y = train_x.iloc[val_idx], np.expm1(train_y.iloc[val_idx])
    
    gbr = GradientBoostingRegressor(random_state = 44, max_depth = 4, learning_rate = 0.02, n_estimators = 1000)
    gbr.fit(tr_x, tr_y)
    
    val_pred = np.expm1(gbr.predict(val_x))
    val_nmae = NMAE(val_y, val_pred)
    gbr_val.append(val_nmae)

    print(f'{n + 1} FOLD NMAE = {val_nmae}\n')
    
    fold_pred = gbr.predict(target) / 10
    gbr_pred += fold_pred
    
print(f'10FOLD Mean of NMAE = {np.mean(gbr_val)} & std = {np.std(gbr_val)}')

1 FOLD Training.....
1 FOLD NMAE = 0.08084315299987234

2 FOLD Training.....
2 FOLD NMAE = 0.08661051923195466

3 FOLD Training.....
3 FOLD NMAE = 0.11553500855310073

4 FOLD Training.....
4 FOLD NMAE = 0.10658629212448274

5 FOLD Training.....
5 FOLD NMAE = 0.08688056513158735

6 FOLD Training.....
6 FOLD NMAE = 0.11041804743432142

7 FOLD Training.....
7 FOLD NMAE = 0.09798293142156794

8 FOLD Training.....
8 FOLD NMAE = 0.0996814877561571

9 FOLD Training.....
9 FOLD NMAE = 0.0962911912014514

10 FOLD Training.....
10 FOLD NMAE = 0.10134486969381684

10FOLD Mean of NMAE = 0.09821740655483124 & std = 0.010486141137319837

In [ ]:
(rf_pred + gbr_pred) / 2

array([12.71526156, 11.76473609, 12.07442635, ..., 11.24705274,
       12.20990677, 11.85656048])

In [ ]:
submission['target'] = np.expm1((rf_pred + gbr_pred) / 2)

In [ ]:
submission.to_csv('./submission_2.csv', index=False)